
.money {
	color: green;
}

.credit{

}

td {
	width: 50%;
	line-height: 4vh;
    min-height: 4vh;
    height: 4vh;
}

tr {
	width: 50%;
    line-height: 4vh;
    min-height: 4vh;
    height: 4vh;
}

.input-group-addon{
	width: 35%;
}

body {
	background-image: url("squared_metal.png");
	background-repeat: repeat;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	margin-top: 5%;

}

div.container {
	height: 100%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 0;
	vertical-align: middle;
}

tbody {
	background-color: white;
	text-align: center;
}
