/* color templet
https://color.adobe.com/Online-Form-color-theme-1220505/ */

body{
	background-color: #eff5f1 ;
}
label {
		display: inline-block;
		float: center;
		clear: left;
		width: 25%;
		text-align: right;
		padding: 3px;
	}
input {
	display: inline-block;
	float: center;
	height: 50px;
	width: 100px;
	text-align: center;
	border: solid 1px black;
	border: 2px transparent black;
	background-color: #eff5f1 ;

}
input[type="button"] {
	background-color: #91bce6;
}
input[type="reset"] {
	background-color: #91bce6;
}
p {
	margin: 5px;
}
table{
	height:50px;
	width: 125px;
	text-align: center;
	border:1px solid #000;
	border-collapse: collapse;
}
table td{
	width: 50%;
	height: 50%;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}
table td:first-child {
	border-left: none;
	border-bottom: 1px dashed #808080;
}
table td:last-child {
	border-right: none;
}
table tr:first-child{
	color: #175ba4;
}
table tr:last-child{
	color: #69922c;
}
#zomg {
	height: 38px;
	width: 75px;
}
.pos{
	color:black;
}
